<div style="height: 450px; overflow: scroll">
<mat-tab-group mat-align-tabs="center" animationDuration="200ms">
    <mat-tab> 
        <ng-template mat-tab-label>
        <i class="material-icons">inbox</i> &nbsp;
        <span> Inbox </span>
        </ng-template> <app-inbox></app-inbox> 
    </mat-tab>

    <mat-tab> 
        <ng-template mat-tab-label>
        <i class="material-icons">send</i> &nbsp;
        <span> sent </span>
        </ng-template> <app-sent></app-sent> 
    </mat-tab>

    <mat-tab> 
        <ng-template mat-tab-label>
        <i class="material-icons">delete</i> &nbsp;
        <span> Bin </span>
        </ng-template> <app-bin></app-bin> 
    </mat-tab>
</mat-tab-group>

  <button (click)="openBottomSheet()" mat-fab class="fab" color="primary"  matTooltip="Compose A New Mail"><i class="material-icons">add</i></button>
</div>