mat-sidenav {
    width: 300px;
    padding:20px;
}
mat-toolbar {
    position:fixed;
    top:0;
}
.mat-drawer { 
    background-color: #023075;
    color:#fff
}
.main-content {
    padding: 40px;
    margin-top: 70px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}

.nav-item {
    width: 90%;
}

@media( max-width:510px) {
.toolbar-items { display: none; }
}