mat-sidenav {
    width: 300px;
    padding:20px;
}
mat-toolbar {
    position:fixed;
    top:0;
}
.mat-drawer { 
    background-color: #023075;
    color:#fff
}
.main-content {
    padding: 40px;
    margin-top: 70px;
}
.toolbar-spacer {
    flex: 1 1 auto;
}
.nav-item {
    width: 90%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: 50px;
    text-align: left;
}
.nav-icon {
    padding-left: 50px;
}

@media( max-width:510px) {
.toolbar-items { display: none; }
}